@charset "utf-8";

html, body, div, header, nav, section, article,footer,figure,
figcaption,ul,li,h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.hidden, legend{
    position: absolute;
    left: -9999px;
}


@font-face{
    font-family: "Score1";
    font-weight: normal;
    src: url("font/SCDream1.otf") format("opentype");
}
@font-face{
    font-family: "Score2";
    font-weight: normal;
    src: url("font/SCDream2.otf") format("opentype");
}
@font-face{
    font-family: "Score3";
    font-weight: normal;
    src: url("font/SCDream3.otf") format("opentype");
}
@font-face{
    font-family: "Score4";
    font-weight: normal;
    src: url("font/SCDream4.otf") format("opentype");
}
@font-face{
    font-family: "Score5";
    font-weight: normal;
    src: url("font/SCDream5.otf") format("opentype");
}
@font-face {
    font-family: "Tmon";
    src: url("font/TmonMonsori.ttf") format("truetype");
    font-weight: normal;
}

/* 링크스타일 */
a:link{
    text-decoration: none;
    color: #4f4f4f;
}
a:visited{
    text-decoration: none;
    color: #4f4f4f;
}
a:hover, a:focus{
    color: #4f4f4f;
    text-decoration: none;
}
/* 링크스타일 */

/* 기본 스타일 */
body{
    font-family: "Score2";
    color: #000;
    background-color: #000;
    font-size: 12px;
    line-height: 12px;
}

/* 전체 레이아웃 */

header, #mainContentArea, footer{
    width: 100%;
    box-sizing: border-box;
}

/* 헤더시작 */
header{
    height: 83px;
    background-color: #d7d7d7;
    position: relative;
}

.logo{
    width: 150px;
    height: 83px;
    position: absolute;
    top:  10px;
    left: 10px;
    z-index: 20;
}
.logo img{
    width: 150px;
}

nav{
    display: block;
    padding-left: 170px;
    height: 83px;
    position: relative;
}
.mainMenu{
    box-sizing: border-box;
    display: block;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 20px;
    padding: 0 0 0 200px;
    left: 0;
    /* z-index: 20; */
    white-space: nowrap;
}
.mainMenu>li{
    display: inline-block;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    z-index: 20;
}
.mainMenu .mem{
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 55px;
}
/* .mainMenu>li>a:hover, .mainMenu>li>a:focus li */
.mainMenu>li:hover, .mainMenu>li:focus{
    background-color: #fee2e2;
    box-shadow: 2px 2px 3px #999;
}

.mainMenu>li>a{
    text-align: center;
    font-family: "Score2";
    font-size: 20px;
    color: #000;
    line-height: 11pt;
    padding: 5px 10px;
    letter-spacing: 0.4em;
}
.mainMenu .mem>a{
    font-family: "Score5";
    font-size: 18px;
    padding-left: 10px;
}
.pro, .mem{
    white-space: nowrap;
    position: relative;
}
.mainMenu .pro:hover ul, .mainMenu .mem:hover ul{
    display: inline-block;
}

.mainMenu .pro ul{
    display: none;
    width: 180px;
    position: absolute;
    bottom: -168.3px;
    left: 0;
    box-shadow: 2px 2px 3px #999;
}
.mainMenu .mem ul{
    display: none;
    width: 240px;
    position: absolute;
    bottom: -110px;
    left: 0;
    box-shadow: 2px 2px 3px #999;
}
.mainMenu .pro ul>li{
    width: 180px;
    
}
.mainMenu .mem ul>li{
    width: 240px;
    
}
.mainMenu ul a {
    font-family: "Score3";
    font-size: 11pt;
    letter-spacing: 0.2em;
    color: #000;
    padding: 8px;
}

.public{
    background-color: #dba5a5;
}
.custom{
    background-color: #a37a7a;
}
.inside{
    background-color: #775858;
}
.aboutSM{
    background-color: #dba5a5;
}
.join{
    background-color: #a37a7a;
}

.search{
    position: absolute;
    left: 1000px;
    top: 25px;
}
.search fieldset{
    border-style: none;
    white-space: nowrap;
}
#searchWord{
    width: 250px;
    height: 30px;
    font-size: 1.3em;
    text-indent: 5px;
    border-style: none;
}
#searchWord:focus{
    outline: none;
}
.search button{
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    background-image: url("images/search.png");
    background-size: 30px;
    background-repeat: no-repeat;
}
/* 헤더 종료 */


