@charset "utf-8";


/* 메인 이미지 시작 */
#mainImageArea{
    width: 61%;
    height: 1080px;
    float: left;
    animation: changeImg 45s infinite;
    animation-timing-function: ease-in-out;
    background-image: url(images/slide.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}
@keyframes changeImg {
    0%{
        background-position: 0px 60%;
    }
    15%{
        background-position: -1500px 60%;
        filter:blur(0);
    }
    15.5%{
        filter:blur(15px);
    }
    16.66666666666667%{
        background-position: -3260px 60%;
        filter:blur(0);
    }
    32%{
        background-position: -4760px 60%;
        filter:blur(0);
    }
    32.5%{
        filter:blur(15px);
    }
    33.33333333333333%{
        background-position: -7005px 60%;
        filter:blur(0);
    }
    49%{
        background-position: -8505px 60%;
        filter:blur(0);
    }
    49.5%{
        filter:blur(15px);
    }
    50%{
        background-position: -10750px 50%;
        filter:blur(0);
    }
    65%{
        background-position: -12250px 50%;
        filter:blur(0);
    }
    65.5%{
        filter:blur(15px);
    }
    66.66666666666667%{
        background-position: -14010px 50%;
        filter:blur(0);
    }
    82%{
        background-position: -15510px 50%;
        filter:blur(0);
    }
    82.5%{
        filter:blur(15px);
    }
    83.33333333333334%{
        background-position: -17270px 50%;
        filter:blur(0);
    }
    99%{
        background-position: -18770px 50%;
        filter:blur(0);
    }
    99.5%{
        filter:blur(15px);
    }
    100%{
        background-position: 0px 60%;
        filter:blur(0);
    }
}
/* 메인 이미지 종료 */

/* 메인 컨텐트 영역 시작 */
#mainContentArea{
    position: relative;
    float: right;
    width: 38%;
}
#mainContentArea section{
    background-color: #fff;
    width: 532px;
    height: 253px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid #ccc; */
    box-shadow: 1px 2px 3px #ccc;
    padding: 30px 0px;
    position: relative;
}
#mainContentArea section:nth-child(2){
    background-color: #fff;
    width: 532px;
    height: 283px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid #ccc; */
    box-shadow: 0px 0px 5px 3px #f1de78;
    padding: 30px 0px;
    position: relative;
    animation: golder 0.5s infinite alternate;
}
@keyframes golder {
    0%{
        box-shadow: 1px 2px 3px #ccc;
    }
    100%{
        box-shadow: 0px 0px 5px 3px #f1de78;
    }
}
#mainContentArea>section:first-child{
    margin-top: 14px;
}

#mainContentArea h2{
    font-size: 15pt;
    letter-spacing: 0.1em;
    font-family: "Score1";
    margin-left: 15px;

}

/* NEW 영역 시작 */
#mainContentArea .news article{
    margin-top: 60px;
    position: relative;
}

#mainContentArea .news article h3{
    position: absolute;
    line-height: 13pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 15px;
    display: inline-block;
    width: 300px;
    font-size: 10pt;
    text-align: left;
}
#mainContentArea .news article time{
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 8pt;
    text-align: left;
}
#mainContentArea .news article p{
    position: absolute;
    color: #000;
    right: 15px;
    width: 300px;
    top: 50px;
    font-size: 10pt;
    text-align: left;
    text-align: justify;
    line-height: 13pt;
    letter-spacing: 0.05em;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 120px;
}


#mainContentArea .news figure{
    width: 180px;
    height: 137px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 15px;
}

#mainContentArea .news img{
    width: 180px;
}

#mainContentArea .more{
    position: absolute;
    top: 35px;
    right: 15px;
}
/* NEW 영역 종료 */

/* MEMBERSHIP of the month 시작 */
#mainContentArea .msOfTheMonth{
    height: 200px;
}

#mainContentArea .msOfTheMonth ul{
    margin-top: 60px;
}

#mainContentArea .msOfTheMonth li{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
    background-color: #f1de78;
}

#mainContentArea .msOfTheMonth .benefit a{
    position: relative;
    font-family: "score5";
    top:  17px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    text-shadow: 2px 2px #999;
    color: #fff;
}

#mainContentArea .msOfTheMonth .joinM{
    background-color: #fff;
    position: absolute;
    white-space: nowrap;
    width: 160px;
    bottom: 0;
    right: 250px;
    animation: joinMeffect 0.8s infinite;
    animation-timing-function: ease-in-out;
}
#mainContentArea .msOfTheMonth .joinM a{
    position: relative;
    font-family: "score6";
    color: #000;
    font-weight: bold;
    font-size: 30px;
    bottom: 10px;  
}
@keyframes joinMeffect {
    0%{
        right: 240px;
    }
    100%{
        right: 230px;
    }
}
#mainContentArea .msOfTheMonth .joinM img{
    position: relative;
    top: 14px;
}


#mainContentArea .msOfTheMonth img{
    width: 47px;
}
/* MEMBERSHIP of the month 종료 */

/* NEW STUFF 영역 시작 */
#mainContentArea .newStuff img{
    width: 200px;
}

#mainContentArea .newStuff article{
    display: inline-block;
    width: 250px;
    position: relative;
    top: 70px;
    left: 12px;
    text-align: center;
}

#mainContentArea .newStuff article figcaption{
    margin-top: 10px;
}
/* NEW STUFF 영역 종료 */

/* 메인 컨텐트 영역 종료 */
